/build-*/
/freicore/libraries/
/freicore/pwiz_src/build-*/
/myrimatch.suo
/myrimatch.vcxproj.user
/.idea
/freicore/pwiz_src/pwiz_tools
/tracervis/test
/tracervis/css/shCoreDefault.css
/tracervis/css/shCoreDjango.css
/tracervis/css/shCoreEclipse.css
/tracervis/css/shCoreEmacs.css
/tracervis/css/shCoreFadeToGrey.css
/tracervis/css/shCoreMDUltra.css
/tracervis/css/shCoreMidnight.css
/tracervis/css/shCoreRDark.css
/tracervis/css/shThemeDjango.css
/tracervis/css/shThemeEclipse.css
/tracervis/css/shThemeEmacs.css
/tracervis/css/shThemeFadeToGrey.css
/tracervis/css/shThemeMDUltra.css
/tracervis/css/shThemeMidnight.css
/tracervis/css/shThemeRDark.css
